body{
    background-image: url("../img/2.jpg");
    color: white;   
}
nav .nav-item{
    margin: 0;
    padding: 1.5em;
    padding-bottom: 3px;
    padding-top: 3px;
}
.main-logo{
    align-content: center;
    text-align: center;
    background: rgba(red, green, blue);
    background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000);
    opacity:0.7;
}
#icon{
    float: left;
    bottom: 0;
    text-shadow: none;
    font-size: 96px;
    float:left;color: rgb(10, 10, 10);
    height: 150px;
    width: 150px;
    line-height: 150px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(237, 255, 244);
}
.heading{
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 1;
}
.main-head{
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-weight: 50;
    color: #FFEFBA;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 124px;
}
nav .login{
    padding: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.login:hover{
    text-decoration: underline;
}
.columns{
    padding: 30px;
}
.rows{
    margin: 25px;
}
.footer-icon{
    text-decoration: none;
    color: wheat;
    padding-right: 15px;
    
}