body{
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../img/login_bg.jpg');
    background-size: cover;
}
.login-btn{
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    text-align: center;
    color: white;
    font-weight: lighter;
    padding: 10px;
}
.login-link{
    font-size: 2em;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3px;
    border: 1px solid white;
}
.login-link:hover{
    color: cadetblue;
    transition: 0.5s ease all;
    position:relative;
    box-shadow:  0 0 0 5px hsl(0, 0%, 50%)
}
